<a href="https://colab.research.google.com/github/Ruperto-April-Anne/CPE-103-OOP-1A/blob/main/Laboratory_No_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

> Assigning Variables of Different Data Types

In [10]:
value = 5
print(value)
type(value)

5

int

In [11]:
value = 5.0
print(value)
type(value)

5.0

float

In [12]:
#a
value = 2+3j
print(value)
type(value)

(2+3j)

complex

In [13]:
#b
value = 'Hello World'
print(value)
type(value)

Hello World

str

In [14]:
#c
value = "Hello World"
print(value)
type(value)

Hello World

str

In [15]:
#d
value = True
print(value)
type(value)

True

bool

In [16]:
#f
value = False
print(value)
type(value)

False

bool

In [17]:
#g
value = [1,2,3,4,5]
print(value)
type(value)

[1, 2, 3, 4, 5]

list

In [18]:
#h
value = (1,2,3,4,5)
print(value)
type(value)

(1, 2, 3, 4, 5)

tuple

In [19]:
#i
value = {'name':'Your name'}
print(value)
type(value)

{'name': 'Your name'}

dict

In [20]:
#j
value = None
print(value)
type(value)

None

NoneType

In [23]:
value = 5
print(value)
type(value)
value2 = -6
print(value2)
type(value2)

5
-6

int

> Performing Operations with Python

**ADDITION**

In [24]:
value, value2 = 5,6
print(value+value2)

11

In [25]:
#a
value, value2 = 5.0,6
print(value+value2)

11.0

In [26]:
#b
value, value2 = -5,6.1
print(value+value2)

1.0999999999999996

In [27]:
#c
value, value2 = "Hello ","World"
print(value+value2)

Hello World

In [28]:
#d
value, value2 = [1,2,3],[4,5,6]
print(value+value2)

[1, 2, 3, 4, 5, 6]

In [29]:
#e
value,value2 = (1,2,3),(4,5,6)
print(value+value2)

(1, 2, 3, 4, 5, 6)

In [52]:
#f
value = {"Name":"Royce"}
value2 = {"Age":2}

result = {**value, **value2}
print (result)

{'Name': 'Royce', 'Age': 2}

**SUBTRACTION**

In [54]:
value, value2 = 5,6
print(value-value2)

-1

In [53]:
#a
value, value2 = 5.0,6
print(value-value2)

-1.0

In [55]:
#b
value, value2 = -5,6.1
print(value-value2)

-11.1

**3**

In [65]:
#a
value, value2 = 30, 4
print(value*value2)

120

In [66]:
#b
value, value2 = 30, 4
print(value2**2)

16

In [71]:
#c
value, value2 = 30, 4
print(value2**3)

64

In [68]:
#d
value, value2 = 30, 4
print(value*value2+value2**2+1)

137

In [69]:
#e
value, value2 = 30, 4
print(value/value2)

7.5

In [70]:
#f
value, value2 = 30, 4.
print(value%value2)

2.0

Assigning Input Data to a Variable

In [81]:
name = input("Enter your name: ")
weight = float(input("Enter your weight(kg): "))
height = float(input("Enter your height(m): "))
bmi = float (weight/height**2)
print("BMI: " + str(bmi))

Enter your name: h
Enter your weight(kg): 8
Enter your height(m): 8
BMI: 0.125

> Supplementary Activity:

In [83]:
#1
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))
area = float(.5*base*height)
print("The area of the triangle is " + str(area))

Enter the base of the triangle: 3.4
Enter the height of the triangle: 5.6
The area of the triangle is 9.52

In [88]:
#2
print ("Choose Conversion Unit")
print ("1. Celcius")
print ("2. Fahreinheit")
if input() == "1":
 celcius = float(input("Enter the temperature in celcius: "))
 fahrenheit = float((celcius*9/5)+32)
 print("The temperature in fahrenheit is " + str(fahrenheit))

else :
 fahrenheit = float(input("Enter the temperature in fahrenheit: "))
 celcius = float((fahrenheit-32)*5/9)
 print("The temperature in celcius is " + str(celcius))

Choose Conversion Unit
1. Celcius
2. Fahreinheit
1
Enter the temperature in celcius: 5
The temperature in fahrenheit is 41.0

In [99]:
import math

class point:
  def __init__(self, x, y):
    self.x = x
    self.y = y

class point1(point):
  pass

class point2(point):
  pass

point1 = point1(int(input("Enter the x coordinate: ")), int(input("Enter the y coordinate: ")))
print2 = point2(int(input("Enter the x coordinate: ")), int(input("Enter the y coordinate: ")))

def distance(self, other):
    return math.sqrt((self.x - other.x)**2 + (self.y - other.y)**2)
print(float(distance(point1, print2)))

Enter the x coordinate: 5
Enter the y coordinate: 6
Enter the x coordinate: 7
Enter the y coordinate: 8
2.8284271247461903