<a href="https://colab.research.google.com/github/Ruperto-April-Anne/CPE-103-OOP-1A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print (10 > 9)
print (10 == 9)
print (10 < 9)

True
False
False

bool() Functions

In [4]:
print (bool("Hello"))
print (bool(15))
print (bool(0)) #Code alwaysinterpret 0 as False
print (bool(-2))

True
True
False
True

In [3]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

Functions Can Return a Boolean

In [6]:
def myFunction():
    return True

print (myFunction())

True

In [12]:
def myFunction():
  return True

if myFunction():
 print ("YES")

else:
  print ("NO")

def myFunction():
  return False

if myFunction():
 print ("\nYES")

else:
  print ("\nNO")

YES

NO

In [16]:
print (10>9)

a = 6
b = 7
print (a==b)
print (a!=a)

True
False
False

Python Operators

In [23]:
print (10 + 5)
print (10 - 5)
print (10 * 5)
print (10 / 5)
print (10 % 5)
print (10 // 3)
print (10 ** 2)

15
5
50
2.0
0
3
100

Python Bitwise Opeartors

In [30]:
#Use the word AND when handling boolean while use & for bitwise

a = 60
b = 13

print (a & b) #Binary AND, copy
print (a | b) #Binary OR, copy a bit, if it exist in either operand
print (a ^ b) #Binary XOR, True and False = True, True and True = False, False and False = False
print (~a) #Binary Ones Complement, invert all the bits
#   0011 1100
#           1
# = 0011 1101

print (a << 2) #Binary Left Shift (in 2 positions)
print (a >> 2) #Binary Right Shift

12
61
49
-61
240
15

Python Assignment Operators

In [35]:
#Shortcut
x = 5

x +=3
print (x)

x -=3
print (x)

x *=3
print (x)

x /=3
print (x)

x %=3
print (x)

x //=3
print (x)

x **=3
print (x)

8
5
15
5.0
2.0
0.0
0.0

Logical Operators

In [45]:
10>9 and 9>10

False

In [47]:
not(10>9 and 9>10)

True

In [44]:
a = True
b = False

print (a and b) #Logical AND, Both the operands are true then condition becomes true.
print (a or b) #Logical OR, Any of the Operands are non-zero then conditions become true.
print (not(a and b)) #Logical NOT, Reverse the logical state of its operand.
print (not(a or b))

False
True
True
False

In [43]:
a = 10 < 9
b = 9 == 9

print (a and b) #Logical AND, Both the operands are true then condition becomes true.
print (a or b) #Logical OR, Any of the Operands are non-zero then conditions become true.
print (not(a and b)) #Logical NOT, Reverse the logical state of its operand.
print (not(a or b))

False
True
True
False

Identity

In [48]:
x = a
y = 2

print (x is y)
print (x is not y)

False
True

## Conditional Statement in Python

Else If Statement

In [50]:
a = 12
b = 100

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

b is greater than a

In [58]:
a = input ("Enter a number a: ")
b = input ("Enter a number b: ")

if b > a:
    print(b, " is greater than ", a, ".")
elif a == b:
    print(a, " and ", b, "are equal.")
else:
    print(a, " is greater than ", b, ".")

Enter a number a: 4
Enter a number b: 6
6  is greater than  4 .

Short Hand If...Else Statement

In [69]:
a = 3
b = 2

if a > b: print("a is greater than b")
else: print("b is greater than a")

a is greater than b

In [67]:
a = 6
b = 5

print ("A") if a > b else print ("B")

A

And - both conditions are True.

In [65]:
a = 200
b = 33
c = 500

if a > b and c > a:
  print("Both conditions are True.")

Both conditions are True.

0r - at least one of the conditions is True.

In [68]:
a = 200
b = 33
c = 500

if a > b and c > a:
  print("At least one of the conditions is True.")

At least one of the conditions is True.

Nested If Else

In [97]:
x = 49

if x > 10:
  print ("Above ten,")
  if x > 20:
    print ("and also above 20.")
  else:
    print ("but not above 20.")
  if x > 30:
    print ("and also above 30.")
  else:
    print ("but not above 30.")
  if x > 40:
    print ("and also above 40.")
  else:
    print ("but not above 40.")
  if x > 50:
    print ("and also above 50.")
  else:
    print ("but not above 50.")

Above ten,
and also above 20.
and also above 30.
and also above 40.
but not above 50.

In [101]:
#Nested If Else
x = 49

if x > 10:
  print ("Above ten,") #Look closely at the indentions
  if x > 20:
    print ("and also above 20.")
    if x > 30:
      print ("and also above 30.")
      if x > 40:
        print ("and also above 40.")
        if x > 50:
          print ("and also above 50.")
        else:
          print ("but not above 50.")
      else:
        print ("but not above 40.")
    else:
      print ("but not above 30.")
  else:
    print ("but not above 20.")
else:
  print ("but not above 10.")

Above ten,
and also above 20.
and also above 30.
and also above 40.
but not above 50.

In [105]:
x = input ("Enter a number: ")
x = int(x)

if x > 10:
  print (" is above ten,") #Look closely at the indentions
  if x > 20:
    print ("and also above 20.")
    if x > 30:
      print ("and also above 30.")
      if x > 40:
        print ("and also above 40.")
        if x > 50:
          print ("and also above 50.")
        else:
          print ("but not above 50.")
      else:
        print ("but not above 40.")
    else:
      print ("but not above 30.")
  else:
    print ("but not above 20.")
else:
  print ("but not above 10.")

Enter a number: 45
 is above ten,
and also above 20.
and also above 30.
and also above 40.
but not above 50.

> **Example 1**

In [142]:
class voters():
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def description(self):
    if self.age < 18:
      print("You are not qualified to vote.")
    else:
      print("You are qualified to vote.")

name = input("Enter your name: ")
age = int(input("Enter your age: "))
voter = voters(name,age)
voter.description()

Enter your name: Joy
Enter your age: 34
You are qualified to vote.

> **Example 2**

In [131]:
class Number():
  def __init__(self,integer):
    self.integer = integer

  def description(self):
    if self.integer == 0:
      print("Number is zero")
    elif self.integer > 0:
      print("Number is positive")
    else:
      print("Number is negative")

integer = int(input("Enter a number: "))
number = Number(integer)
number.description()

Enter a number: -2
Number is negative

> **Example 3**

In [143]:
class Grades():
  def __init__(self,integer):
    self.integer = integer

  def description(self):
    if self.integer >= 75:
      print("Passed")
    elif self.integer == 74:
      print("Remedial")
    else:
      print("Failed")

integer = float(input("Enter your grade: "))
grades = Grades(integer)
grades.description()

Enter your grade: 56
Failed