<a href="https://colab.research.google.com/github/Ruperto-April-Anne/CPE-103-OOP-1A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [22]:
x = 5
y = 2
if x>y:
 print ("Five is greater than two")
elif x<y:
 print ("Five is less than two")

Five is greater than two

Python Comments

In [23]:
#This is a comment
print ("Hello World")

Hello World

Variable Naming Conventions

In [21]:
myvar = "John"
myvar = "John"
myVar = "John"
my_var = "John"

Python Variable

In [26]:
#Examples;
x = 1
a, b=0, -1
a, b, c=0, -1, 2

print (a)
print (b)
print (c)

0
-1
2

In [28]:
#Others:
b = "Sally" #This is a type of string
print (b)

Sally

Casting

In [29]:
b = "sally" #This is a type of string
b = int (4)
print (b)

b = float(4)
print (b)

4
4.0

Type () Function

In [30]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

"Double Quotes" or 'Single Quotes'

In [40]:
y = "John"
x = 'John'
print (x)
print (y)

John
John

Case Sensitive

In [34]:
a = 4
A = "Sally"
#A will not overwrite a

print (a)
print (A)

4
Sally

Multiple Variables

In [35]:
x, y, z = "one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [36]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [37]:
x = "enjoying"
print ("Python programming is " + x)

Python programming is enjoying

In [39]:
#Other Way;
x = "Python programming is "
y = "enjoying"
z = x + y
print (z)

Python programming is enjoying

Arithmetic Programming

In [41]:
#Addition
x = 5
y = 3
print (x + y)

x = 5
y = 3
sum = x + y
print (sum)

8
8

In [45]:
#Subtraction
x = 5
y = 3
print (x - y)

x = 5
y = 3
difference = x - y
print (difference)

2
2

In [46]:
#Multiplication
x = 5
y = 3
print (x * y)

x = 5
y = 3
product = x * y
print (product)

15
15

In [47]:
#Division
x = 5
y = 3
print (x / y)

x = 5
y = 3
quotient = x / y
print (quotient)

1.6666666666666667
1.6666666666666667

In [48]:
#Modulus
x = 5
y = 3
print (x % y)

x = 5
y = 3
remainder = x % y
print (remainder)

2
2

In [50]:
#Exponentation
x = 5
y = 3
print (x ** y) #is equal to 5^3

x = 5
y = 3
exponent = x ** y
print (exponent)

125
125

In [51]:
#Floor Division
x = 5
y = 3
print (x // y)
#Floor division rounds the quotient to the nearest whole number.

1

Assignment Operators

In [62]:
a, b, c = 0, -1, 6
c %= 3 #same as c = c % 3 or the printed value will be the remainder
c

0

In [63]:
#Exponent
a, b, c = 0, -1, 6
c **= 3
c

216

In [64]:
#
a, b, c = 0, -1, 6
c &= 3
c

2

In [65]:
#
a, b, c = 0, -1, 6
c != 3
c

6

In [66]:
#
a, b, c = 0, -1, 6
c ^= 3
c

5

In [67]:
#
a, b, c = 0, -1, 6
c >>= 3
c

0

In [68]:
#
a, b, c = 0, -1, 6
c <<= 3
c

48

Comparison Operators

In [52]:
#Equal
x = 3
y = 5
z = x==y
print (z)

False

In [53]:
#Not Equal
x = 3
y = 5
z = x!=y
print (z)

True

In [54]:
#Greater Than
x = 3
y = 5
z = x > y
print (z)

False

In [55]:
#Less Than
x = 3
y = 5
z = x < y
print (z)

True

In [59]:
#Greater Than or Equal To
x = 3
y = 5
z = x >= y
print (z)

False

In [57]:
#Less than or Equal To
x = 3
y = 5
z = x <= y
print (z)

True

Logical Operators

In [43]:
a, b, c = 0, -1, 6
a > b and c > b
True

True

In [69]:
x = 5
y = 2
not (x < y)

True

Identity Operators

In [44]:
a, b, c = 0, -1, 5
a is c
False

False

Bitwise Operators

In [83]:
#decimal to binary
#10 = 01010


x = 10
x << 1

20

In [89]:
#Another Example
# 1 0 1 0 0
#16 8 4 2 1 //move to right

#0  1 0 1 0
#16 8 4 2 1

x = 20
x >> 2

5

APPLICATION 1

In [99]:
#Application 1
#Rectangle = L*W*H


l = input ("Enter the length of the rectangle:")
w = input ("Enter the width of the rectangle:")
h = input ("Enter the height of the rectangle:")
z = float(l) * float(w) * float(h)

print ("The area of the rectangle is:", z)

Enter the length of the rectangle:5
Enter the width of the rectangle:7.5
Enter the height of the rectangle:4
The area of the rectangle is: 150.0

In [96]:
#Triangle
a = float(.5)
b = input ("Enter the base of the triangle:")
c = input ("Enter the height of the triangle:")
z = a * float(b) * float(c)

print ("The area of the triangle is:", z)

Enter the base of the triangle:3
Enter the height of the triangle:4
The area of the triangle is: 6.0

In [103]:
#Circle
pi = 3.14
r = input ("Enter the radius of the circle:")
r = float(r)
z = pi * (r**2)

print ("The area of the circle is:", z)

Enter the radius of the circle:4.5
The area of the circle is: 63.585