<a href="https://colab.research.google.com/github/Ruperto-April-Anne/CPE-103-OOP-1A/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Loop Statement**

In [27]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [2]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    print(x)
    if x == "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [5]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
    if x == "Thursday":
      break
    print(x)

Sunday
Monday
Tuesday
Wednesday

In [7]:
for x in "week":
  print (x)

w
e
e
k

**The Range() Function**

In [11]:
for x in range(6):
  print(x)
for x in range(2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

**Nested Loops**

In [38]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**While Statement**

In [1]:
i = 1
while i<6:
  print(i)
  i+=1 #i + i+1 Assignment Operator

1
2
3
4
5

In [2]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1 #i = i+1

1
2
3

In [12]:
#Continue Statement

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [18]:
i = 0
while i < 6:
  if i == 3:
     i += 1
     continue
  print(i)
  i += 1

0
1
2
4
5

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [36]:
for x in range(11):
 print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [35]:
x = 0
while x < 11:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [40]:
x = 0
while x <= 10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [39]:
word = ["Hello"]
num = [1,2,3,4,5,6,7,8,9,10]

for x in word:
  for y in num:
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

<center>

# **Practical Test**

1. Create a Python Program that displays integers less than 10 but not less than 3.

In [42]:
for x in range(3,10):
 print(x)

3
4
5
6
7
8
9

In [45]:
x = 3
while x < 10:
  print(x)
  x += 1

3
4
5
6
7
8
9